body{
    background-color: whitesmoke;

}
.container{
    display: flexbox;  
    flex-flow: row;
    
}
.container>div{
    background: none;
}
.rcontainer{
    display: block;
    float: right;
    margin-right: 20%;
    margin-top: 12%;    
}
.rcontainer form{
    height: 24rem;
    width: 20rem;
    background: white;
    box-shadow: 0 8px 16px rgba(0,0,0,.3);
    border-radius: 1.5%;
}
.rcontainer input[type=text],input[type=password]{
    width: 90%;
    padding: 12px 20px;
    margin-top: 5%;
    margin-left: 5%;
    border: 1px solid;
    display: inline-block;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
    outline-color: blue;
    outline-offset: 1px;
} 
.rcontainer form .Loginbtn{
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    font-size: x-large;
    border-radius: 5px;
    border: 1px solid;
    background: #2b65ec;
    border-color: #2b65ec;
    color: white;
}
.rcontainer form .btn{
    width: 50%;
    height: 12%; 
    margin-top: 10%;
    margin-left: 25%;
    font-size: medium;
    color: white;
    background: rgba(34,139,34);
    border-color: rgba(34,139,34);;
    border-radius: 5px;
    border: 1px solid;
    
}
.rcontainer form span{
    color: #2b65ec;
    background: white;
    margin-left: 25%;
}
.rcontainer form hr{
    width: 90%;  
}
.rcontainer p{
    margin-left: 5%;
    font-size: 75%;
}
.lcontainer{
    display: block;
    float: left;
    margin-left: 15%;
    margin-top: 20%;
}

.lcontainer h1{
    text-align: justify;
    font-size: 300%;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}
.lcontainer p {
    text-align: justify;
    font-style: normal;
    font-size: larger ;
    font-family: sans-serif;
}